<% provide(:title, 'Todos os usuários') %>
<h1>Usuarios</h1>

<%= will_paginate %>

<ul class="users">
  <% @usuarios.each do |user| %>
    <li>
      <!-- Implementar redefinicao da gravatar_for com o controle de tamanho -->
      <%= gravatar_for user, size: 52  %>
      <%= link_to user.nome, user %>
      | <%= link_to "deletar", user, method: :delete, data:{ confirm: "Tem certeza que deseja apagar o usuario #{user.nome}?"} %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>